.Body {
    color: #999999;
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', '75 Helvetica Bold', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_10 {
    color: #000000;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 17px;
    line-height: 24px;
    opacity: 0.70;
}
.style_11 {
    color: #000000;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.70;
}
.style_12 {
    color: #000000;
    font-size: 17px;
    line-height: 19px;
    opacity: 0.70;
}
.paragraph_style_4 {
    color: #c02242;
    font-family: 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman', 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    color: #000000;
    font-size: 36px;
    line-height: 43px;
    opacity: 0.70;
}
.paragraph_style {
    color: #c02242;
    font-family: 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman', 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman';
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    color: #c42a55;
    font-family: 'Georgia-Italic', 'Georgia', 'Georgia Italic', serif;
    font-size: 30px;
    font-style: italic;
    line-height: 42px;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_3 {
    font-size: 28px;
    line-height: 34px;
}
.style_4 {
    color: #000000;
    font-size: 27px;
    line-height: 31px;
    opacity: 0.70;
}
.style_5 {
    color: #000000;
    opacity: 0.70;
}
.paragraph_style_1 {
    color: #c02242;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_6 {
    font-family: 'SnellRoundhand-Bold', 'Snell Roundhand', 'Snell Roundhand Bold', 'Script', cursive;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: 37px;
}
.style {
    color: #000000;
    font-size: 28px;
    line-height: 34px;
    opacity: 0.70;
}
.style_7 {
    color: #c42a55;
    font-family: 'Georgia-Italic', 'Georgia', 'Georgia Italic', serif;
    font-size: 24px;
    font-style: italic;
    line-height: 32px;
    opacity: 1.00;
}
.style_8 {
    color: #000000;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 25px;
    line-height: 36px;
    opacity: 0.70;
}
.style_9 {
    color: #000000;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    opacity: 0.70;
}
.paragraph_style_2 {
    color: #c02242;
    font-family: 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman', 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman';
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: #c02242;
    font-family: 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman', 'HelveticaNeue-Roman', 'Helvetica Neue', '55 Helvetica Roman';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_textbox_layout_style_default_External_701_661 {
    position: relative;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
#widget0 a:visited {
    color: #666666;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: #ff0000;
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: #999999;
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
